@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
  font-family:'Playfair Display', serif ;
}
body{
    background-color: rgba(241, 238, 238, 0.804);
}
.container{
  background-image: url(image2.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;

}


.nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color:rgba(236, 236, 241, 0.861) ;
    
}
.nav-links{
    display: flex;
    margin-top: 5px;
}

.nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.sidelist{
   display: flex;
   color: black;
   padding: 15px;
   gap:1rem; 
}
.sidelist a{
    text-decoration: none;
    color:rgb(31, 31, 72);
}
section{
   position: relative;
   top: 160px;
   left: 120px;
}
.big-text{
    font-size: 50px;
}
.food-text{
    font-size: 25px;
    margin-top: 15px;
    color: rgb(33, 70, 33);
}
.button{
    background-color:#FF5733;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 70px;
    border-radius: 5px;
}

.next-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 90px; */
   background-color: rgba(225, 222, 222, 0.472);
    padding: 50px;
}

.img1{
    height: 300px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50% 10% 50% 10%;
}
.title{
    color:#FF5733;
font-size: 20px;
}
.topic{
    margin-top: 20px;
}
.text{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    background-color: #f83d14;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 70px;
    border-radius: 3px;
}
.third-section{
    display:flex;
    justify-content: space-around ;
   padding: 10px 70px 0px 70px;
    /* margin-top: 20px; */
    /* padding: 4rem;
     */
}
.our-menu h3{
    color: #f83d14;
}
ul{
    display: flex;
   flex-direction: row;
    list-style:none;
    align-items: center;
    gap: 3rem;
}
li a{
    text-decoration: none;
    color: black;
}
.icons{
    display: flex;
    gap: 2px;
    position: relative;
    bottom: auto;
}
.icon-next{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f83d14;
    text-align: center;
}

.icon-previous{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #FF5733;
    text-align: center;
}
.grid-container{
    display: flex;
   justify-content: center;
   gap: 20px;
    align-items: center;
    margin-top: 30px;
}
.card{
    height: 170px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    box-shadow: ;
}
.cards{
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
