@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
  font-family:'Playfair Display', serif ;
}
body{
    background-color: rgba(241, 238, 238, 0.804);
}
.container{
  background-image: url(image2.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;

}


.nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color:rgba(236, 236, 241, 0.861) ;
    
}
.nav-links{
    display: flex;
    margin-top: 5px;
}

.nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.sidelist{
   display: flex;
   color: black;
   padding: 15px;
   gap:1rem; 
}
.sidelist a{
    text-decoration: none;
    color:rgb(31, 31, 72);
}
section{
   position: relative;
   top: 160px;
   left: 120px;
}
.big-text{
    font-size: 50px;
}
p{
    font-size: 25px;
    margin-top: 15px;
    color: rgb(33, 70, 33);
}
.button{
    background-color:#FF5733;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 70px;
    border-radius: 5px;
}

.next-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}
img{
    height: 300px;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50% 10% 50% 10%;
}
.title{
    color:#FF5733;
font-size: 20px;
}
.topic{
    margin-top: 20px;
}
.text{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    background-color: #f83d14;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 70px;
    border-radius: 3px;
}
.third-section{
    display:flex;
    
}
