@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
  font-family:'Playfair Display', serif ;
}
.container{
  background-image: url(image2.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;

}


.nav {
    display: flex;
    justify-content: space-around;
    background-color:rgba(236, 236, 241, 0.705) ;
    
}
.nav-links{
    display: flex;
    margin-top: 5px;
}

.nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.sidelist{
   display: flex;
   color: black;
   padding: 15px;
   gap:1rem; 
}
.sidelist a{
    text-decoration: none;
    color:rgb(31, 31, 72);
}
section{
   position: relative;
   top: 160px;
   left: 120px;
}
.big-text{
    font-size: 50px;
}
p{
    font-size: 25px;
    margin-top: 15px;
    color: #FF5733;
}
.button{
    background-color:#FF5733  ;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    text-align: center;
    height: 30px;
    width: 100px;
    margin-top: 70px;
    border-radius: 5px;
}
.button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

